*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.vending-machine{
  background-color: #282c34;
  color: white;
  width:500px;
  height:600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

p{
  font-weight: bold;
  font-size: 18px;
}

a{
  color:white;
  padding: 20px;
}